.notifications-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Notifications {
  padding: 1em;
  border: 1px solid #e11d3f;
}

li[data-priority=default] {
  color: blue;
}

li[data-priority=urgent] {
  color: red;
}